body {
  text-align: center;
  background-color: #9BABB8;
}

h1 {
  font-size: 5rem;
  color: #116D6E;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #30A2FF;

}

footer {
  color: #116D6E;
  font-family: sans-serif;
}

.w {
 
}

.a {
 
}

.s {
 
}

.d {

}

.j {

}

.k {
 
}

.l {
 
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #ACBCFF;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #FFB84C;
  text-shadow: 3px 0 #F5F0BB;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
